@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#form{
    text-align: center;
    font-family: 'karla';
}

h1{
    font-weight:bold;
}



button{
    font-weight: 500;
}

html, body { 
    background-image: url(background.jpg);
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
     margin: 0;
      height: 100%; 
      font-family: 'karla';
    }

body {
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn{
    border: none;
}
.btn:hover{
    background-color: white;
    border:none;
    color: black;
    transition: 0.5s;
}

body, html {
    height: 100%;
    text-align: center;
}

body {
  background-color: #242F3F;
}

